/*
Theme Name: the7dtchild
Author: Dream-Theme
Author URI: http://dream-theme.com/
Description: The7 is perfectly scalable, performance and SEO optimized, responsive, retina ready multipurpose WordPress theme. It will fit every site – big or small. From huge corporate portals to studio or personal sites – The7 will become a great foundation for your next project!
Version: 1.0.0
License: This WordPress theme is comprised of two parts: (1) The PHP code and integrated HTML are licensed under the GPL license as is WordPress itself.  You will find a copy of the license text in the same directory as this text file. Or you can read it here: http://wordpress.org/about/gpl/ (2) All other parts of the theme including, but not limited to the CSS code, images, and design are licensed according to the license purchased. Read about licensing details here: http://themeforest.net/licenses/regular_extended
Template: dt-the7
*/


/*main*/
#main{
	padding: 30px 0 70px 0;
	background: #ecf9ff none no-repeat fixed center center;
}
.margin_wrap{
	margin-left: 22px;
	display: flex;
	justify-content: center;
}
a:hover{
	color: #27aae1 !important;	
}
a{
	color: #27aae1;
}

.paginator:not(.paginator-more-button) a:after{
	background-color: #27aae1;
}

.dt-close-mobile-menu-icon span{
	background-color: #27aae1;	
}

.content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.content ul li{
	 position: relative;
    margin-left: 19px;
}

.content ul li::before {
	content: "";
    background-image: url(img/dot.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 6px;
    left: -16px;
}

.sidebar-content .widget:not(.widget_icl_lang_sel_widget) a, .sidebar-content.solid-bg .widget:not(.widget_icl_lang_sel_widget) a *, .sidebar-content .recent-posts a{
	text-decoration: none;
}

.classic-header.justify.widgets .main-nav>li{
	justify-content: flex-start;
}
/*Home Page*/
.masthead:not(.side-header):not(.mixed-header) .header-bar, .header-space{
	min-height: 140px;
}

.masthead.classic-header.justify.bg-behind-menu.widgets.surround.line-decoration.show-device-logo.show-mobile-logo{
	border: 0;
}

/*.Home Page*/

/*Sidebar*/
.solid-bg.sidebar-outline-decoration .sidebar-content, .bg-under-widget.sidebar-outline-decoration .widget,.sidebar .widget, .sidebar-content .widget{
	border: 0;
}
.menu_sidebar a img{
	transition: .4s;
}
.menu_sidebar a:hover img{
	transform:scale(1.02); 
	-webkit-transform:scale(1.02); 
	-moz-transform:scale(1.02); 
	-o-transform:scale(1.02); 
}
/*.Sidebar*/
.footer .widget-title{
	font-size: 30px;
	margin-bottom: 60px;
}
/*footer*/
.clear-form{
	display: none;
}

section#presscore-contact-form-widget-2 .widget-title{
	font-size: 20px;
	color: #fff;
	margin-bottom: 10px;
	margin-top: 30px;
}
a.dt-btn.dt-btn-m.dt-btn-submit{
	background-color: #27aae1 !important;
	text-transform: uppercase;
	padding:5px 40px;
	
}

#bottom-bar{
	display: none;
}
#footer.solid-bg{
	min-height: 500px;
	background-image: url(img/foot.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#footer .wf-container-footer{
	padding-top: 100px;
}
/*.footer*/

/*travel_box*/
.travel_box{
	background-color: #27aae1;
	width: 100%;
	display: flex;
	padding: 30px;
	color: #fff;
	justify-content:space-around;
	flex-wrap: wrap;
	align-items:center;
}
.travel_box_text{
	  -webkit-align-items: center;
	align-items: center;
}
.travel_box_text h2{
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	padding-top: 25px;
	padding-bottom: 15px;
}
.travel_box_btm{
	color: #27aae1;
	background-color: #ffc826;
	font-size: 16px;
	font-weight: bold;
	padding: 25px 20px;
	text-transform: uppercase;
	margin-top: 50px;
	transition: 0.4s;
}
.travel_box_text a{
	text-decoration: none;
}
.travel_box_text a:hover .travel_box_btm{
	background-color: #edb81d;
}
.travel_box_text p{
	font-size: 16px;
	font-weight: 300;
	
}
.travel_box_link{
	position: relative;
	
}
.travel_box_link a {
	transition: 0.4s
}
.travel_box_link a:hover{
	opacity: 0.8
}
a p.travel_box_title{
	color: #fff;
}
.travel_box_title{
	position: absolute;
    bottom: 10px;
    width: 100%;
    z-index: 999;
	font-size: 23px;
	font-weight: bold;
	text-align: center;
}
/*.travel_box*/
/*home post*/
.home_post_head{
	margin-top: 50px;
}
.home_post_head h2 {
	color:#25aae1;
	font-size: 30px;
	font-weight: 700;
	float: left;
}
.home_post_head p {
	font-size: 16px !important;
	color: #ffc826 !important;
	float: right;
	margin-top: 16px;
}

.home_post{
	border: 2px solid #27aae1;
    padding: 20px;
	border-bottom: 0;
	background-color: #fff;
}
.border-btm{
	border-bottom: 2px solid #27aae1;
}
.home_post_title{
	font-weight: bold;
	font-size: 20px;
	color: #403d3a;
	text-transform: uppercase;
}
.home_post_data{
	color: #ffc826 !important;
	font-size: 16px !important;
	margin: 0 !important;
	font-weight: bold !important;
}
.home_post_content{
	font-weight: 300;
	color: #403d3a;
	font-size: 16px;
}
a.home_post_more{
	color: white;
	text-decoration: none;
	background-color: #27aae1;
	float: right;
	padding: 10px 40px;
	text-transform: uppercase;
	transition: .4s
}
a.home_post_more:hover{
	background-color: #2396c6;
}
/*.home post*/

/*single page*/
.content p {
	font-size: 16px;
	font-weight: 300;
	color: #403d3a;
}
.h2-size{
	font-weight: 400;
}
/*.single page*/

/*
blog*/
.news_post{
	padding-bottom: 30px;
	border-bottom: 2px solid #27aae1 !important;
}
.layout-list .post{
	border-top: 0;
}
h3.entry-title{
	font-weight: bold;
    font-size: 30px;
	margin-bottom: 10px;
}
.blog-content.wf-td p{
	font-size: 16px;
	color:#403d3a;
	font-weight: 300;
}
/*.blog*/
/*Galery*/
.filter.with-ajax.filter-bg-decoration{
	display: none;
}
.buttons-on-img{
	margin-bottom: 0;
}
.project-list-content{
	background-color:#27aae1;
	position: relative;
	min-height: 70px;
}
.entry-meta.portfolio-categories{
	display: none;
}
.project-list-content h3.entry-title {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}
.project-list-content h3.entry-title a{
	color: #fff;
}
#page .project-list-content .entry-title a:hover{
	color:#fff !important;
}
/*Galery*/
/*menu widget*/
ul#menu-sidebar_menu .download-btn{
	display: none;
}
.sidebar-content li {
	list-style: none;
}
.widget_nav_menu{
	background-color: #ffcc00;
	margin-left: 25px;
	margin-top: 25px;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}
.widget_nav_menu h2.widgettitle{
	color: #fff;
	font-weight: bold;
	font-size: 25px;
}
.widget_nav_menu ul{
	font-size: 16px;
	font-weight: bold;
}
.sidebar-content .widget .menu li {
	border: 0;
	margin: 0;
}
.sidebar-content .widget .menu a {
	color: #403d3a;
}
.sidebar-content .widget .menu li a:hover{
	text-decoration: none;
}
/*.menu widget*/

/*offert*/
.title-offert{
	font-size: 19px !important;
	text-transform: uppercase !important;
	padding-bottom: 10px;
}
.offer-before-info{
	float: left;
	width: 20%;
}
.offer-info{
	color: #27aae1 !important;
	font-size: 16px !important;
}
.wf-td-custom{
    display: table-cell;
    vertical-align: top;
}
.offer_title_single{
	font-size: 40px;
	font-weight: bold;
	color: #403d3a;
	margin-bottom: 30px;
}
.pb-30{
	padding-bottom: 30px;
}
.entry-content{
	color: #403d3a;
	font-size: 17px;
}
.download-btn{
	font-size: 16px;
	font-weight: bold;
	padding-top: 30px;
}
/*.offert*/
/*pined*/
.home_pined{
	display: flex;
	border: 2px solid #ffc826;
	border-bottom: 0;
	transition: 0.4s;
	background-color: #fff;
}
.home-pined-link{
	text-decoration: none;
}
.home_pined:hover{
	background-color: #efefef;
	cursor: pointer;
}
.no-mb{
	margin-bottom: 0;
}
.pr-40{
	padding-right: 40px;
}
.home-content-pined{
	height: 110px;
}
.home-pined-title{
	margin-top: 3px;
	margin-bottom: 0;
}
.border-btm-pined{
	border-bottom: 2px solid #ffc826 !important;
}
.home_pined img{
transition: 0.4s;
}
.home_pined:hover img {
    opacity: 0.8;
}
.home_post_head_pined p {
	color: #27aae1 !important;
}
/*.pined*/
/*newsketter*/
.newsletter_area{
	background-image: url(img/newsletter_bg.jpg);
	background-repeat: no-repeat;
	width: 290px;
	padding: 30px 25px;
}
.newsletter_area p {
	font-weight: bold;
	font-size: 18px;
	color: #fff;
}
.flex{
	display: flex;
}
input.wysija-input {
    height: 45px;
    color: #27aae1;
}
input.wysija-input,input.wysija-submit.wysija-submit-field{
	outline-style:none;
box-shadow:none;
}
input.wysija-submit.wysija-submit-field {
    height: 45px;
    background-color: #ffc826;
    width: 56px;
	margin: 0;
	font-size: 33px;
	font-weight: bold;
	transition: 0.4s;
}
input.wysija-submit.wysija-submit-field:hover{
    background-color: #d6a922 !important;
}
.formError .formErrorContent{
	background: #27aae1;
}

section.widget_wysija {
    padding-top: 0 !important;
}
.widget_wysija_cont .updated, .widget_wysija_cont .login .message{
	border-color:#27aae1;
	background-color: #fff;	
}

.menu-wycieczki_widget-container .download-btn{
	display: none;
}
/*.newsketter*/

/*RWD*/
@media screen and (min-width: 767px){
	.mobile_display{
		display: none;
	}
}
@media screen and (max-width: 1200px){
	.margin_wrap{
		margin-left: 0;
	}
}
@media screen and (max-width: 768px) {
	.home_pined img{
		display: none;
	}
	.offer-before-info{
		display: none;
	}
	.home-content-pined{
		height: auto;
	}
	.mobile-hidden{
		display: none;
	}
	.sidebar-content {
		margin-left: -25px !important;
	}
	.formError{
		left: 50% !important;
	}
}
/*.RWD*/